.root {
  background: white;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}